body {
  background-color: rgba(104, 84, 84, 0.39);
  margin: 0;
  font-family: rubik;
  color: white;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: black;
  text-align: center;
  border-radius: 15px;
}

.card:hover {
  animation: bounce 0.6s linear;
  background-color: rgba(148, 83, 83, 0.11);
  transition: background-color 0.2s linear;
}
@keyframes bounce {
  20% {
    transform: translateY(-6px); /* moves it up by 6px */
  }
}
.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}

.card-subtitle {
  font-weight: light;
  color: #666;
  margin-top: 5px;
}

.card-image {
  height: 180px;
}
#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}
